<div class="inicar-sesion-pagina center-align">



	<div class="row">
		<div class="col s12 m4 l2"></div>
		<div class="col s12 m4 l8">

			<!--Titulo de la página-->
			<div class="container">
				<div class="center-align Titulo">
					<h2>INICIAR SESIÓN</h2>
				</div>
			</div>

			<!--Formulario de Inicio de Sesión-->
			<div class="card contenidoInput">
				<div class="card-content">
					<div class="container center-align contenidoTable">
						<table class="">
							<tr>
								<td class="textos"><h6 for="correo">Correo: </h6></td>
								<td><input class="browser-default" type="email" name="correo" autocomplete="off"
										id="correo"></td>
							</tr>
							<tr>
								<td class="textos"><h6 for="password">Contraseña: </h6></td>
								<td><input class="browser-default" type="password" name="password" autocomplete="off"
										id="password"></td>
							</tr>
						</table> <br> 

						<div class="form-field center-align">
							<button class="btn waves-effect waves-light red darken-2 hoverable" id="botonIniciarS">Iniciar Sesión</button>
						</div><br><br>

						<div class="container center-align ">
							<a href="" id="registro">Soy nuevo usuario</a>
						</div>

					</div>
				</div>
			</div>

			<!--Imagenes Inferiores de la pagina-->

			<div class="slider" id="Fotos">
				<ul class="slides">
				  <li>
					<img src="https://ximg.es/1080x1080.jpg"> <!-- random image -->
					<div class="caption center-align">
					  <h3>El INGE</h3>
					  <h5 class="light white-text text-lighten-3">Boneless</h5>
					</div>
				  </li>
				  <li>
					<img src="https://ximg.es/1080x1080.jpg"> <!-- random image -->
					<div class="caption left-align">
					  <h3>Servicio a domicilio sin costo</h3>
					  <h5 class="light grey-text text-lighten-3">Viernes, sábado y domingo</h5>
					</div>
				  </li>
				  <li>
					<img src="https://ximg.es/1080x1080.jpg"> <!-- random image -->
					<div class="caption right-align">
					  <h3>Pedidos</h3>
					  <h5 class="light grey-text text-lighten-3">10:00am - 4:00pm </h5>
					  <h5 class="light white-text text-lighten-3">9532139898</h5>
					</div>
				  </li>
				  <li>
					<img src="https://ximg.es/1080x1080.jpg"> <!-- random image -->
					<div class="caption center-align">
					  <h3>Entregas a domicilio</h3>
					  <h5 class="light grey-text text-lighten-3">5:00 - 9:00 pm</h5>
					</div>
				  </li>
				  <li>
					<img src="https://ximg.es/1080x1080.jpg"> <!-- random image -->
					<div class="caption left-align">
					  <h3>Síguenos en instagram</h3>
					  <h5 class="light white-text text-lighten-3">@boneless.el.inge</h5>
					</div>
				  </li>
				</ul>
			  </div>
				  

		</div>
		<div class="col s12 m4 l2"></div>
	</div>
</div>