<header class="navbar-fixed">
	<nav>
		<div class="nav-wrapper" id="barra_navegacion">
			<a href="/" class="brand-logo">
				<img src="assets/Elinge-logo.png" alt="El inge Boneless">
			</a>
			<a href="#" data-target="nav_mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/ingresar">Iniciar Sesión</a></li>
				<li><a href="/registrarse">Registrarse</a></li>
				<li><a href="/app/realizarPedido">Realizar Pedido</a></li>
			</ul>
		</div>
	</nav>
</header>

<ul class="sidenav" id="nav_mobile">
	<li><a href="/ingresar">Iniciar Sesión</a></li>
	<li><a href="/registrarse">Registrarse</a></li>
	<li><a href="/app/realizarPedido">Realizar Pedido</a></li>
</ul>