:root {
	--bg-color: #c11010;
	--bg-color-2: #f81515;
}

#barra_navegacion {
	padding-right: 20px;
	background-color: #c11010;
}

#barra_navegacion::before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
	margin-left: -55px;
	background-color: #f81515;
	transform: skewX(-60deg);
}

#barra_navegacion > a {
	height: 64px;
	overflow: hidden;
}

#barra_navegacion img {
	height: 68px;
	margin-top: -2px;
	margin-left: -2px;
}