<header class="navbar-fixed">
	<nav>
		<div class="nav-wrapper" id="barra_navegacion_clientes">
			<a href="/" class="brand-logo">
				<img src="assets/Elinge-logo.png" alt="El inge Boneless">
			</a>
			<a href="#" data-target="nav_mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/app/resumen">Resumen</a></li>
				<li><a href="/app/pedido_nuevo">Hacer Pedido</a></li>
				<li><a href="/app/direcciones">Direcciones</a></li>
				<li><a (click)="cerrarSesion()" href="">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
</header>

<ul class="sidenav" id="nav_mobile">
	<li><a href="/app/resumen">Resumen</a></li>
	<li><a href="/app/pedido_nuevo">Hacer Pedido</a></li>
	<li><a href="/app/direcciones">Direcciones</a></li>
	<li><a (click)="cerrarSesion()" href="">Cerrar Sesión</a></li>
</ul>
