<app-barra-navegacion-administracion></app-barra-navegacion-administracion>
<div class="container">
	<h3>Administración de boneless El Inge</h3>

	<section>
		<h4 style="margin-top: 40px;">Pedidos</h4>

		<ul class="collapsible">
			<li class="active">
				<div class="collapsible-header"><i class="material-icons">schedule</i>Pendientes</div>
				<div class="collapsible-body">
					<div class="contenedor-tabla" style="margin-top: 0;">
						<table class="striped responsibe-table">
							<tr>
								<th>Fecha</th>
								<th>Detalle Pedido</th>
								<th>Notas</th>
								<th>Total</th>
								<th>Dinero a Recibir</th>
								<th>Cambio</th>
								<th>Dirección</th>
								<th>Acción</th>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>

				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">done</i>Finalizados</div>
				<div class="collapsible-body">
					<div class="contenedor-tabla" style="margin-top: 0;">
						<table class="striped responsibe-table">
							<tr>
								<th>Fecha</th>
								<th>Detalle Pedido</th>
								<th>Notas</th>
								<th>Total</th>
								<th>Dinero a Recibir</th>
								<th>Dirección</th>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>

				</div>
			</li>
		</ul>

	</section>

</div>
<app-pie-de-pagina></app-pie-de-pagina>