<app-barra-navegacion></app-barra-navegacion>
<div class="container">

	<!-- SABORES BONELESS -->
	<section id="sabores">
		<h2 class="center-align">Sabores</h2>
		<div id="circulo" class="row">
			<div class="col m6 cuarto modal-trigger" href="#modal_bbq" id="bbq">
			</div>
			<div class="col m6 cuarto modal-trigger" href="#modal_bufalo" id="bufalo">
			</div>
			<div class="col m6 cuarto modal-trigger" href="#modal_mango_habanero" id="abanero">
			</div>
			<div class="col m6 cuarto modal-trigger" href="#modal_piña_habanero" id="otro">
			</div>
		</div>
	</section>

	<!-- EXTRAS -->
	<section id="extras">
		<h4 class="center-align">Extras</h4>
		<div class="row">
			<div class="col m5 l5 offset-m1 offset-l1">
				<h4 class="center-align">Orden de Papas</h4>
				<img src="https://ximg.es/310x150.jpg" width="100%" alt="">
			</div>
			<div class="col m5 l5">
				<h4 class="center-align">Orden de Extra Papas</h4>
				<img src="https://ximg.es/310x150.jpg" width="100%" alt="">
			</div>
		</div>
	</section>

	<!-- HORARIO -->
	<section id="horario">
		<h3 class="center-align">Horario</h3>
		<h4 class="center-align">Sábado y Domingo</h4>
		<h5 class="center-align">De 12pm a 9pm</h5>
	</section>

	<!-- FOTOS INSTAGRAM -->
	<section class="fotos">
		<h3 class="center-align">Conócenos</h3>

		<div class="carousel carousel-slider center">
			<div class="carousel-fixed-item center">
				<a class="btn waves-effect white grey-text" href="https://www.instagram.com/boneless.el.inge/" target="_blank"><i class="material-icons left">photo_camera</i>Síguenos</a>
			</div>
			<div class="carousel-item red white-text" href="#one!">
				<img src="https://ximg.es/778x300.jpg" alt="">
			</div>
			<div class="carousel-item amber white-text" href="#two!">
				<img src="https://ximg.es/778x300.jpg" alt="">
			</div>
			<div class="carousel-item green white-text" href="#three!">
				<img src="https://ximg.es/778x300.jpg" alt="">
			</div>
			<div class="carousel-item blue white-text" href="#four!">
				<img src="https://ximg.es/778x300.jpg" alt="">
			</div>
		</div>
	</section>



	<!-- MODALES -->
	<div id="modal_bbq" class="modal bottom-sheet">
		<div class="modal-content center-align">
			<h4 class="center-align">BBQ</h4>
			<img src="https://ximg.es/778x400.jpg" alt="">
		</div>
	</div>

	<div id="modal_bufalo" class="modal bottom-sheet">
		<div class="modal-content center-align">
			<h4 class="center-align">BUFALO</h4>
			<img src="https://ximg.es/778x400.jpg" alt="">
		</div>
	</div>

	<div id="modal_mango_habanero" class="modal bottom-sheet">
		<div class="modal-content center-align">
			<h4 class="center-align">MANGO HABANERO</h4>
			<img src="https://ximg.es/778x400.jpg" alt="">
		</div>
	</div>

	<div id="modal_piña_habanero" class="modal bottom-sheet">
		<div class="modal-content center-align">
			<h4 class="center-align">PIÑA HABANERO</h4>
			<img src="https://ximg.es/778x400.jpg" alt="">
		</div>
	</div>
</div>