<app-barra-navegacion></app-barra-navegacion>
<div class="container">

	<!-- SABORES BONELESS -->
	<section id="sabores">
		<h3 class="center-align">Sabores</h3>
		<div id="circulo" class="row">
			<div class="col m6 cuarto modal-trigger" href="#modal_bbq" id="bbq">
			</div>
			<div class="col m6 cuarto modal-trigger" href="#modal_bufalo" id="bufalo">
			</div>
			<div class="col m6 cuarto modal-trigger" href="#modal_abanero" id="abanero">
			</div>
			<div class="col m6 cuarto modal-trigger" href="#modal_otro" id="otro">
			</div>
		</div>
	</section>

	<!-- MODALES -->
	<div id="modal_bbq" class="modal bottom-sheet">
		<div class="modal-content">
			<h4 class="center-align">BBQ</h4>
		</div>
	</div>

	<div id="modal_bufalo" class="modal bottom-sheet">
		<div class="modal-content">
			<h4 class="center-align">BUFALO</h4>
		</div>
	</div>

	<div id="modal_abanero" class="modal bottom-sheet">
		<div class="modal-content">
			<h4 class="center-align">ABANERO</h4>
		</div>
	</div>

	<div id="modal_otro" class="modal bottom-sheet">
		<div class="modal-content">
			<h4 class="center-align">OTRO</h4>
		</div>
	</div>
</div>
