/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Overpass', sans-serif;
}

a {
	color: inherit;
}

h3, h2 {
	font-family: 'Antonio', sans-serif;
}

.customInput, .customTextArea {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 12px;
    padding-left: 14px !important;
    margin-bottom: 30px;
}

.customTextArea {
    height: 132px;
}

.customInput input, .customTextArea textarea{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border-style: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.customTextArea textarea {
    height: 100px;
    margin-top: 13px;
    resize: none;
}

.customInput input::placeholder, .customTextArea textarea::placeholder {
    color: #777777;
}

.customInput i, .customTextArea i{
    position: absolute;
    top: 13px;
    left: 14px;
    color: #777;
    z-index: 500;
    transition: all 400ms;
}

.customInput:hover i, .customInput input:focus + i, .customTextArea:hover i, .customTextArea textarea:focus + i{
    color: #f81515;
}

.customCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}

.customCheck [type="radio"]:checked + span::after {
    background-color: #f81515;
    border: 2px solid #f81515;
}


.botonCustom {
    height: 50px;
    border-radius: 12px;
    background-color: #f81515;
    transition: all 300ms;
}

.botonCustom:hover {
    background-color: #c11010;
}

.botonCustom:active {
    transform: scale(0.95);
}

.btnPedido {
    border-radius: 12px;
    background-color: #f81515;
    transition: all 300ms;
}

.btnPedido:hover {
    background-color: #c11010;
}

.btnPedido:active {
    transform: scale(0.95);
}

.browser{
    background-color: #FFFFFF;
}

.botonSmall {
    height: 35px;
}