/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Overpass", sans-serif;
}

a {
    color: inherit;
}

h3,
h2 {
    font-family: "Antonio", sans-serif;
}

/* FORMULARIOS */

.customInput,
.customTextArea {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 12px;
    padding-left: 14px !important;
    margin-bottom: 30px;
}

.customTextArea {
    height: 132px;
}

.customInput + small {
    display: block;
    margin-top: -24px;
    margin-bottom: 10px;
}

.cI-siguiente {
    display: block;
    margin-top: -16px;
}

.customInput input,
.customTextArea textarea {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border-style: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.customTextArea textarea {
    height: 100px;
    margin-top: 13px;
    resize: none;
}

.customInput input::placeholder,
.customTextArea textarea::placeholder {
    color: #777777;
}

.customInput i,
.customTextArea i {
    position: absolute;
    top: 13px;
    left: 14px;
    color: #777;
    z-index: 500;
    transition: all 400ms;
}

.customInput:hover i,
.customInput input:focus + i,
.customTextArea:hover i,
.customTextArea textarea:focus + i {
    color: #f81515;
}

.customRadioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}

.customRadioButton [type="radio"]:checked + span::after {
    background-color: #f81515;
    border: 2px solid #f81515;
}

.customCheck [type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 2px solid #f81515;
    border-bottom: 2px solid #f81515;
}

/* select */
.select-wrapper {
    height: 50px;
    margin-left: -14px;
}

.select-wrapper input.select-dropdown {
    height: 100%;
    padding-left: 46px;
    border: none;
    margin: 0;
    box-sizing: border-box;
}

.select-wrapper input.select-dropdown:focus {
    border: none;
}

.select-wrapper .select-dropdown {
    border-radius: 12px;
}

.dropdown-content {
    z-index: 600;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #c11010;
}

/* OTROS */

.botonCustom {
    height: 50px;
    border-radius: 12px;
    background-color: #f81515;
    transition: all 300ms;
}

.botonCustom:hover {
    background-color: #c11010;
}

.botonCustom:active {
    transform: scale(0.95);
}

.botonSmall {
    height: 35px;
}

/* TABLAS */

.contenedor-tabla {
    width: 100%;
    height: 500px;
    overflow: auto;
    margin-top: 30px;
}