<app-barra-navegacion-administracion></app-barra-navegacion-administracion>
<div class="container">
	<h3>Stock de materia prima</h3>
	<section class="row">
		<div class="col m4 s12 label-inline">
			Cantidad de Boneless(kg) disponibles:
		</div>

		<div class="col m8 s12 customInput">
			<input type="number" name="boneless" id="boneless" class="browser-default" disabled>
		</div>

		<div class="col m4 s12 label-inline">
			Cantidad de Papas(kg) disponibles:
		</div>

		<div class="col m8 s12 customInput">
			<input type="number" name="papas" id="papas" class="browser-default" disabled>
		</div>
	</section>
</div>
<app-pie-de-pagina></app-pie-de-pagina>